@import '~antd/dist/antd.css';

#root .logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
  line-height: 31px;
  text-align: center;
  color: #fff;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    line-height: 1;
    border-radius: 500px;
    white-space: nowrap;
    font-weight: bold;
}
.avatar img {
    border-radius: 500px;
    width: 100%;
    vertical-align: middle;
}

.ant-menu-submenu-horizontal > .ant-menu {
    width: 120px;
    left: -40px;
}

.b-white {
    border-color: #ffffff;
}

.avatar i {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    margin: 1px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
}

.avatar i.bottom {
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
}

.avatar i.on {
    background-color: #6cc788;
}